<div class="card">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <h5 class="card-title">Projetos</h5>

            </div>


        </div>
    </div>
    <div class="card-body">
        <!-- inicio tabela -->
        <table class="table table-striped">
            <thead>
                <!-- nome das colunas -->
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Projeto</th>
                    <th scope="col">Valor total</th>

                </tr>
            </thead>
            <!--conteudo das linhas -->
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Projeto 1</td>
                    <td>10,00</td>

                    <td>

                    </td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <th scope="row">TOTAL</th>
                    <th></th>
                    <th>10,00</th>


                </tr>
            </tfoot>
        </table>
    </div>
</div>